@font-face {
  font-family: FT88;
  src: url(FT88-Regular.otf);
}

* {
  font-family: 'FT88', monospace;
  color:lawngreen;
  background-color: #000;
  box-sizing: border-box;
}

body {
  padding-top: 75px;
  font-family: sans-serif;
  /* margin: 20px; */
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

button {
  background-color: none; /* Green */
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px 15px 0px;
  font-size: 16px;
}

button:hover {
  text-decoration: underline;
}

.page, .home {
  margin: auto;
  width: 65%;
}

.introtext {
  width: 100%;
  margin: auto;
}
