@font-face {
  font-family: FT88;
  src: url(FT88-Regular.otf);
}

* {
  font-family: 'FT88', monospace;
  color: #000;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

button {
  background-color: none; 
  border: 1px solid #ffffff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

.home {
  text-align: center;
}

.square {
  /* height: 150px; */
  width: 150px;
  margin: 5% auto;
  text-align: center;
  display: block;
  /* flex-direction: column; */
  cursor: pointer;
}

.square p {
  margin: 1.5%;
}

.main {
  width: 300px;
  margin: 5% auto;
  text-align: center;
  display: block;
}

.record_container {
  float: left;
  left: 0;
  width: 25%;
  background-color: #ececec;
  height: 100vh;
  overflow-y: scroll;
}

.main_page {
  float: right;
  width: 70%;
  /* background: #ececec; */
  height: 100vh;
}