.one_stack_container {
    width: 750px;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow-x: scroll;
}

.one_stack_container img {
    margin: 5px;
    height: 450px;
}
